@font-face {
  font-family: "Sofia Pro Light";
  src: url("/assents/fonts/sofiapro-light.otf");
}
@font-face {
  font-family: "Sofia Pro Black";
  src: url("/assents/fonts/SofiaProBlack.ttf");
}
@font-face {
  font-family: "Sofia Pro Medium";
  src: url("/assents/fonts/SofiaProMedium.ttf");
}
@font-face {
  font-family: "Sofia Pro Bold";
  src: url("/assents/fonts/SofiaProSemiBold.ttf");
}

.content-mat{
  position: absolute;
  background-color: white;
  -webkit-box-shadow: 3px 3px 12px -5px rgba(77, 77, 77, 0.75);
  -moz-box-shadow: 3px 3px 12px -5px rgba(77, 77, 77, 0.75);
  box-shadow: 3px 3px 12px -5px rgba(77, 77, 77, 0.75);

  height: 480px;
  width: 94%;
  border-radius: 1%;  
  margin-left: 2%;  
  margin-right: 2%;  
}

.content-pdf{
  position: absolute;
  background-color: white;  
  margin-left: 1%;
}

.div-margin-top {
  margin-top: 5%;
}

.center-elements{
  text-align: center;
  cursor: pointer;
}

.center-text{
  text-align: center;
}

.container-mat{
  margin:80px 80px 0px 5px;
}

.frame-mat{
  width: 100%;
  height: 100%;
  margin-top: 3%;
}

.mat-fr > h4 {
  font-family: "Sofia Pro Medium";
}

.mat-fr{
  padding-top: 1%;
}

.window-pdf{
  padding-top: 2%;
  padding-left: 2%;
}

.img-size-icon{
  width: 4%;
  cursor: pointer;
  margin-left: 2%;
  margin-right: 2%;
}

.display-content-mat{
  display: contents;
  font-family: "Sofia Pro Light";
}


.checkbox-container {
  float: left;
  width: 50%;
  box-sizing: border-box;
  text-align:center;
  padding: 10px 0px;
}

.checkbox-label {
  display: block;
  position: relative;
  margin: auto;
  cursor: pointer;
  font-size: 22px;
  line-height: 24px;
  height: 24px;
  width: 24px;
  clear: both;
}

.checkbox-label>input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.circle-icon-cultural{
  width: fit-content;
  padding: 2%;
  width: 20%;
  margin-top: 60px;
}

.circle-icon-cultural:hover{
  width: 25%;
}

.checkbox-label .checkbox-custom {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  border: 2px solid rgb(0, 0, 0);
}

.checkbox-label input:checked ~ .checkbox-custom {
  background-color: #FFFFFF;
  border-radius: 5px;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity:1;
  border: 2px solid rgb(0, 0, 0);
}


.checkbox-label .checkbox-custom::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border: solid #009BFF;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity:1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}


.checkbox-label input:checked ~ .checkbox-custom::after {
-webkit-transform: rotate(45deg) scale(1);
-ms-transform: rotate(45deg) scale(1);
transform: rotate(45deg) scale(1);
opacity:1;
left: 8px;
top: 3px;
width: 6px;
height: 12px;
border: solid #009BFF;
border-width: 0 2px 2px 0;
background-color: transparent;
border-radius: 0;
}

.block-cb-material{
  background-color: white;
  -webkit-box-shadow: 3px 3px 12px -5px rgba(77, 77, 77, 0.75);
  -moz-box-shadow: 3px 3px 12px -5px rgba(77, 77, 77, 0.75);
  box-shadow: 3px 3px 12px -5px rgba(77, 77, 77, 0.75);
  height: 330px;
  width: 80%;
  margin-top: 13%;
  overflow: scroll;
  border: 1px solid #009BFF;
}

.checkbox-container-material {
  float: left;
  width: 50%;
  box-sizing: border-box;
  text-align:center;
  padding: 18px 0px;
}

/* For Ripple Effect */
.checkbox-label .checkbox-custom::before {
  position: absolute;
  content: "";
  left: 10px;
  top: 10px;
  width: 0px;
  height: 0px;
  border-radius: 5px;
  border: 2px solid rgb(0, 0, 0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);    
}

.checkbox-label input:checked ~ .checkbox-custom::before {
  left: -3px;
  top: -3px;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3);
  opacity:0;
  z-index: 999;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.react-pdf__Page__annotations{
  display: none;
}

#contenido:-webkit-full-screen{
  width: 100%;
  height: 100%;
}

.margen-botones{
  margin-left: 64% !important;
}

.container-cultural{
  margin: 2% 1%;
}