@font-face {
  font-family: "Sofia Pro Light";
  src: url("/assents/fonts/sofiapro-light.otf");
}
@font-face {
  font-family: "Sofia Pro Black";
  src: url("/assents/fonts/SofiaProBlack.ttf");
}
@font-face {
  font-family: "Sofia Pro Medium";
  src: url("/assents/fonts/SofiaProMedium.ttf");
}
@font-face {
  font-family: "Sofia Pro Bold";
  src: url("/assents/fonts/SofiaProSemiBold.ttf");
}

.content-words {
  position: absolute;
  background-color: white;
  -webkit-box-shadow: 3px 3px 12px -5px rgba(77, 77, 77, 0.75);
  -moz-box-shadow: 3px 3px 12px -5px rgba(77, 77, 77, 0.75);
  box-shadow: 3px 3px 12px -5px rgba(77, 77, 77, 0.75);
  overflow: scroll;
  height: 350px;
  width: 100%;
}
.group-words {
  margin: 10px 0px 0px 20px;
}
.group-words>hr{
    margin: 0;
}
.group-words > h4 .group-words > p {
  margin-top: 20px;
  margin-left: 20px;
}
.group-words > h4 {
  font-family: "Sofia Pro Medium";
  text-transform:capitalize
}
.group-words > blockquote> p {
    font-family: "Sofia Pro Light";
    font-size: 80%;
}

.div-margin-top {
  margin-top: 5%;
}

.input-searchBar{
    font-family: 'Sofia Pro Light';
    border: 1px solid #797979;
    background: #ffffff;
    display: block;
    margin: 30px auto;
    padding: 14px 25px;
    border-radius: 40px;
    width: 100%;
    box-shadow: none;
    outline: none;
}

.circle-icon {
  width: fit-content;
  padding: 2%;
  width: 20%;
  transition: all ease-in-out 250ms;
}

.circle-icon:hover{
  transform: scale(1.2);
}

.circle-icon-select{
  transform: scale(1.2);
}

.block-cb{
  background-color: white;
  -webkit-box-shadow: 3px 3px 12px -5px rgba(77, 77, 77, 0.75);
  -moz-box-shadow: 3px 3px 12px -5px rgba(77, 77, 77, 0.75);
  box-shadow: 3px 3px 12px -5px rgba(77, 77, 77, 0.75);
  height: 300px;
  width: 100%;
  margin-top: 5%;
  overflow: scroll;
}

.checkbox-container {
  float: left;
  width: 50%;
  box-sizing: border-box;
  text-align:center;
  padding: 10px 0px;
}

.checkbox-label {
  display: block;
  position: relative;
  margin: auto;
  cursor: pointer;
  font-size: 22px;
  line-height: 24px;
  height: 24px;
  width: 24px;
  clear: both;
}

.checkbox-label>input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.input-title{
  font-family: "Sofia Pro Light";
  font-size: 16px;
}

.checkbox-label .checkbox-custom {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  border: 2px solid rgb(0, 0, 0);
}

.checkbox-label input:checked ~ .checkbox-custom {
  background-color: #FFFFFF;
  border-radius: 5px;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity:1;
  border: 2px solid rgb(0, 0, 0);
}


.checkbox-label .checkbox-custom::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border: solid #009BFF;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity:1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}


.checkbox-label input:checked ~ .checkbox-custom::after {
-webkit-transform: rotate(45deg) scale(1);
-ms-transform: rotate(45deg) scale(1);
transform: rotate(45deg) scale(1);
opacity:1;
left: 8px;
top: 3px;
width: 6px;
height: 12px;
border: solid #009BFF;
border-width: 0 2px 2px 0;
background-color: transparent;
border-radius: 0;
}



/* For Ripple Effect */
.checkbox-label .checkbox-custom::before {
  position: absolute;
  content: "";
  left: 10px;
  top: 10px;
  width: 0px;
  height: 0px;
  border-radius: 5px;
  border: 2px solid rgb(0, 0, 0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);    
}

.checkbox-label input:checked ~ .checkbox-custom::before {
  left: -3px;
  top: -3px;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3);
  opacity:0;
  z-index: 999;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}



